<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113672863089-vikqebl4e8sgmacm5bvt7vnjb3iidhdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113672863089-vikqebl4e8sgmacm5bvt7vnjb3iidhdf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>113672863089-19t4a7cpp0jr8gfrloauuf445vsmmjgf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzxSgX9cXuvWhxJsD9Pxsiqn4mI5W_Q_k</string>
	<key>GCM_SENDER_ID</key>
	<string>113672863089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chabiri.rnsetting</string>
	<key>PROJECT_ID</key>
	<string>rnsetting-71ee7</string>
	<key>STORAGE_BUCKET</key>
	<string>rnsetting-71ee7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113672863089:ios:7016430f1dcf58fef48ad0</string>
</dict>
</plist>